@import '../config/variables';
* {
	box-sizing: border-box;
}
.palette {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 2rem;
	max-width: 1300px;
	margin: auto;
	position: relative;
	z-index: 1000;
}

.swatch {
	font-size: 1.5rem;
	display: flex;
	justify-content: stretch;
	align-items: stretch;
	// padding: .5rem .2rem;
	padding-top: 3rem;
	cursor: pointer;
	$n: 6;
	$pct: 100/$n;
	flex-basis: 16.66%;
	@media all and (max-width: 800px){
		flex-basis: 33%;
		// padding:0
	}


	.content {
		flex: 1;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		
		min-height: 120px;
		font-weight: 700;
		text-transform: uppercase;
		// border-radius: .2em;

		color: #fff;



		box-shadow: $shadow-1;
		transition: box-shadow 300ms ease-in;

		&:hover, &:focus {
			box-shadow: $shadow-4;
		}

		&.dark  { color: #fff; }
		&.light { color: rgba(#000,0.3); }

		.swatch-id {
			font-size: 1.3rem;
			position: absolute;
			top: -1.5em;
			left: 5px;
			color: #000;		
		}
		
		.data {
			position: absolute;
			// bottom: 0;
			// left: 50%;
			// transform: translate(-50%,-4px);
			line-height: 1;
			right: .5rem;
			// bottom: .5rem;
			top: -1.5em;
			color: rgba(#000,0.5);
			
			font-size: .8rem;
			text-transform: uppercase;
			font-weight: 500;
			// opacity: .4;
			// letter-spacing: 2px;

			// background-color: transparent;
			// border: none;
			// outline: none;
			// pointer-events: none;
		}
	}


}


.flash {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: inline-block;
	// z-index: 1;
	// z-index: 2000;
	display: none;
	// opacity: 0;
	// transition: all .4s;
	// background-color: red;
	transform: translateY(-100%);
	color: #fff;
	font-size: 10rem;
	font-weight: 700;
	line-height: 100vh;
	text-align: center;
	
	&.firing {
		display: block;
		animation: fire ease-in-out;
		animation-iteration-count: 1;
	}

	@keyframes fire {
		// 0% { opacity: .7; }
		// 50% { opacity: 1; }
		// 100% { opacity: 0; }

		0% { transform: translateY(-100%) }
		30% { transform: translateY(0%) }
		80% { transform: translateY(0%) }
		100% { transform: translateY(100%) }
	}
}